@page
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("Handlers", "list")</li>
    <li>@Html.ActionLink("Global Values", "globals")</li>
</ul>
